<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html"/>
<head>
  <title>Ticket Graph</title>
</head>
<body>
  <h1>Ticket Graph</h1>
  <div id="content">
    <py:choose>
      <py:when test="component">
        <h2>Last ${days} days in ${component}</h2>
      </py:when>
      <py:otherwise>
        <h2>Last ${days} days</h2>
      </py:otherwise>
    </py:choose>
    <p>
      <form method="get" id="ticketgraph">
        by Component:
        <select id="graph-component" name="component">
          <option selected="${not component}" value="All">All Tickets</option>
          <option py:for="name in components"
                  selected="${component == name or None}"
                  value="${name}" py:content="name"></option>
        </select>
        <input py:if="days != 90" type="hidden" name="days" value="${days}" />
        <input type="submit" value="Graph" />
      </form>
    </p>
    <div id="placeholder"></div>
  </div>
</body>
</html>
